/* Custom CSS to ensure the text color in the navbar is white */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.navbar {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0; /* Remove bottom margin */
}

.navbar-brand, .navbar-nav .nav-link, .navbar-nav {
    color: white !important;
}

.container {
    margin-top: 10px; /* Adjust the top margin as needed */
}

.display-4 {
    font-weight: 300;
    margin-bottom: 30px;
}

.lead {
    font-size: 1.25em;
    font-weight: 300;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Custom CSS for the modal */
.modal-content {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-header {
    background-color: #007bff !important;
    color: white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    font-weight: bold !important;
}

.modal-body {
    font-size: 1.1em;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
    border-radius: 20px;
}

.btn-primary:hover {
    background-color: #0056b3 !important;
    border-color: #0056b3 !important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.table {
    margin-top: 1.5rem;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ddd;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table tbody + tbody {
    border-top: 2px solid #ddd;
}

.table .table {
    background-color: #fff;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 2px;
    padding: 10px 15px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination input {
    width: 50px;
    text-align: center;
}

.pagination select {
    margin-left: 10px;
}

.pagination .active {
    background-color: #007bff;
    color: white;
}

.pagination .dots {
    margin: 0 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .display-4 {
        font-size: 2.5em;
    }

    .lead {
        font-size: 1em;
    }

    .navbar-brand, .navbar-nav .nav-link {
        font-size: 1em;
    }
}
