/* Custom CSS to ensure the text color in the navbar is white */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.navbar {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0; /* Remove bottom margin */
}

.navbar-brand, .navbar-nav .nav-link, .navbar-nav {
    color: white !important;
}

.container {
    margin-top: 10px; /* Adjust the top margin as needed */
}

.display-4 {
    font-weight: 300;
    margin-bottom: 30px;
}

.lead {
    font-size: 1.25em;
    font-weight: 300;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .display-4 {
        font-size: 2.5em;
    }

    .lead {
        font-size: 1em;
    }

    .navbar-brand, .navbar-nav .nav-link {
        font-size: 1em;
    }
}
