.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.forgot-password-card {
    width: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forgot-password-card .card-body {
    padding: 2rem;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 5px;
    overflow: hidden;
}

.input-group-prepend-icon {
    background-color: #f1f1f1;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: 1px solid #ced4da;
}

.form-control {
    border: none;
    box-shadow: none;
    flex: 1;
}

.btn-primary {
    width: 100%;
    background-color: #5cb85c;
    border-color: #5cb85c;
    border-radius: 5px;
    padding: 0.5rem;
}

.alert-success {
    border-radius: 5px;
    margin-top: 1rem;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    border-radius: 5px;
    margin-top: 1rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
