.container-landing {
    text-align: center;
}

.card-landing {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card-landing:hover {
    transform: translateY(-5px);
}

.card-title-landing {
    font-weight: bold;
    font-size: 1.5rem;
}

.card-text-landing {
    color: #555;
}
