body {
    background-color: #f8f9fa;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    width: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-card .card-body {
    padding: 2rem;
}

.login-card .text-center {
    margin-bottom: 1.5rem;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 5px;
    overflow: hidden;
}

.input-group-prepend-icon,
.input-group-append-icon {
    background-color: #f1f1f1;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.input-group-prepend-icon {
    border-right: 1px solid #ced4da;
}

.input-group-append-icon {
    border-left: 1px solid #ced4da;
    cursor: pointer;
}

.form-control {
    border: none;
    box-shadow: none;
    flex: 1;
}

.btn-primary {
    width: 100%;
    background-color: #5cb85c;
    border-color: #5cb85c;
    border-radius: 5px;
    padding: 0.5rem;
}

.btn-primary:disabled {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.form-check-label {
    color: #000;
    transition: color 0.2s;
}

.form-check-input:checked ~ .form-check-label {
    color: #5cb85c;
}

.alert-danger {
    border-radius: 5px;
    margin-top: 1rem;
}

.text-center a {
    color: #5cb85c;
    text-decoration: none;
}

.forgot-password,
.sign-up {
    color: #000;
    text-decoration: underline;
    transition: color 0.2s, font-weight 0.2s;
}

.forgot-password:hover,
.sign-up:hover {
    color: #0056b3;
    font-weight: bold;
    cursor: pointer;
}